Makefile
Makefile.in

aclocal.m4
lt*.m4
autom4te.cache
config.*
configure
env

*.o
*.a
*~
compile
depcomp
install-sh
missing
libtool
ltmain.sh
/include
test-driver
warn.log
packaging/*
utilities/bash-completion

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

debian/changelog

profiler_html/

doc

.idea/
cmake-build-debug/

*.swp
*.tgz
*-pak
*.deb
#macosx
.DS_Store

stamp-h1
/CMakeLists.txt
